<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="fts_gazebo_sensor" params="prefix_:=^|'' rate:=^|100.0">
      <gazebo reference="${prefix_}ft_tool_link">
        <gravity>true</gravity>
        <!--self_collide>false</self_collide-->
      </gazebo>
      <gazebo reference="${prefix_}ft_sensor_link">
        <gravity>true</gravity>
      </gazebo>
      <!-- ft plugin -->
      <gazebo reference="${prefix_}ft_reference_joint">
        <provideFeedback>true</provideFeedback>
      </gazebo>
      <gazebo>
        <plugin name="${prefix_}ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>${rate}</updateRate>
        <topicName>${prefix_}ft_sensor</topicName> 
        <jointName>${prefix_}ft_reference_joint</jointName>
        <!--gaussianNoise>0.003</gaussianNoise-->
        </plugin>
      </gazebo>
  </xacro:macro>

</robot>
